*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.main_head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}
.logo{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 28px;
  font-weight: bold;
}

.head_nav{
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 35px;
}
.head_nav a{
  text-decoration: none;
  color:#555
  
}
.head_nav a:hover{
  color: #2563eb;
}

.button1{
  padding:14px 30px;
  background-color:#2563eb;
  color: white;
  border: none;
  border-radius:8px;

  cursor: pointer;
  font-size: 17px;
}

.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction:column;
  color:white;

 background-image:
  linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
  url("./assets/banner.jpg");

  background-size: cover;
  background-position: center;
  position:relative;
  height: 550px;
}
.hero h1{
  font-size: 50px;
  margin-bottom: 20px;
}

.hero p{
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
}
.meet_head{
  text-align: center;
  font-size: 38px;
  margin-top: 80px;
  margin-bottom: 40px;
}
  
.meet_section{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;

  width: 90%;
  max-width: 1200px;
  margin: 40px 40px;
}
}
.meet_section .card img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center top;
  display: block;
}
.secure_card{
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: stretch;

  width: 90%;
  max-width: 1200px;
  margin: 50px auto 80px;
}

.card{
    flex:1;
    background:#fff;
    border:1px solid #ddd;
    border-radius:10px;
    padding:30px;
}

.card.active{
    background:#111827;
    color:#fff;
    transform:scale(1.05);
}
.button2{
  padding: 5px 40px;
  background-color: white;
  color: #2563eb;
  border: 2px solid #2563eb;
  border-radius: 8px;
  cursor: pointer;
  font-size: 17px;
}
.price_head{
  text-align: center;
  justify-content: center;
}
.price_title{
  text-align: center;
  font-size: 38px;
  margin-top: 80px;
  margin-bottom: 10px;
}